/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Fuente principal */
body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

/* Contenedor principal */
.container {
    max-width: 100%;
    margin: 0 auto;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    width: 70%;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 130px;
}

/* Menú */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.logo {
    font-size: 25px;
    color: #E96C12;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px 25px;
}

.LogoImg {
    width: 15%;
}

.logoName {
    font-size: 20px;
    color: #E96C12;
    font-weight: 600;
    position: absolute;
    left: 122px;
    margin-bottom: 30px;
}

/* Navbar */
.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 10px;
    font-weight: 650;
    color: #536B83;
    display: block;
    margin-bottom: 10px;
}

.menu .navbar ul li a:hover {
    color: #E96C12;
}

.itemNav::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: #E96C12;
    display: block;
    transition: all 300ms;
}

.itemNav:hover::after {
    width: 100%;
}

/* Footer */
footer {
    background-color: #536B83;
    color: #fff;
    padding: 70px 0;
}

.footer-fila {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.footer-columna {
    width: 25%;
    padding: 0 15px;
}

.footer-columna hr {
    border: 1px solid #E96C12;
    width: 20%;
    margin: 4% 0;
}

.footer-columna h4 {
    text-transform: capitalize;
    position: relative;
}

.footer-columna ul {
    margin-top: 10%;
}

.footer-columna ul li {
    margin-bottom: 25px;
}

.footer-columna ul li a {
    font-size: .9rem;
    color: #fff;
    transition: all 300ms ease;
}

.footer-columna ul li a:hover {
    padding-left: 8px;
}

/* Social Links */
.social-links {
    margin-top: 9%;
}

.social-links a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #000;
    background-color: #fff;
}

/* Contenido del header */
.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0 0 10px 200px;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 50px;
}

.header-txt span {
    color: #E96C12;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1 {
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1;
    color: #536B83;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #536B83;
    margin-bottom: 35px;
}

.imgMuestra {
    width: 68%;
    padding-left: 60px;
    margin-bottom: 50px;
}

/* Productos */
.productos {
    padding: 50px 0 50px 80px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.txt h2 {
    font-size: 25px;
    color: #E96C12;
}

.productos-content {
    display: flex;
}

.producto img {
    margin: 0 5px;
    width: 190px;
    height: 190px;
    border-radius: 15px;
    transition: all 240ms ease;
}

.producto img:hover {
    border: solid chocolate;
    width: 185px;
}

.producto-nombre {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.producto-nombre h3 {
    font-size: 13px;
    padding-left: 15px;
    color: #536B83;
}

  /* Menú lateral */
  #btn-menu {
    display: none;
}

.container-menuLateral {
    position: fixed;
    background: rgba(245, 142, 7, 0.836);
    width: 15%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menuLateral {
    opacity: 1;
    visibility: visible;
}

.cont-menuLateral {
    position: fixed;
    width: 100%;
    max-width: 250px;
    background: #bebcb8;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menuLateral .cont-menuLateral {
    transform: translateX(0%);
}

.cont-menuLateral nav {
    transform: translateY(15%);
}

.cont-menuLateral nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #000000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menuLateral nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #f88e03;
}

.cont-menuLateral label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/* Fin de Menú lateral */
	
/* About */
.about {
    padding: 60px 50px;
}

.about-content {
    display: flex;
}

.about-1, .about-in1, .about-in2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: flex;
    align-items: end;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 150ms ease;
}

.about-1 {
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Images/XiaomiNews/XiaomiSerie14New.jpeg);
    height: 500px;
}

.about-1:hover, .about-in1:hover, .about-in2:hover {
    border: solid chocolate;
}

.about-1 img, .about-in1 img, .about-in2 img {
    width: 10%;
    transition: all 150ms ease;
}

.about-1 img:hover, .about-in1 img:hover, .about-in2 img:hover {
    width: 13%;
}

.about-1 h3, .about-in1 h3, .about-in2 h3 {
    font-size: 12px;
    color: #E0FFFF;
    margin-left: 15px;
}

.about-2 {
    width: 50%;
    margin-left: 10px;
}

.about-in1, .about-in2 {
    height: 245px;
    margin-bottom: 10px;
}

.about-in1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../Images/XiaomiNews/MijiaSmartNew.webp);
}

.about-in2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../Images/XiaomiNews/XiaomiEV.jpeg);
}

/* News */
.news {
    padding: 10px 50px;
}

.news-content {
    display: flex;
}

.news-txt {
    width: 50%;
    margin-right: 25px;
    margin-top: 10px;
}

.news-1 {
    display: flex;
    margin-bottom: 20px;
}

.news-1 p:hover {
    font-weight: bold;
}

.news-1 img {
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.4);
    transition: all 300ms ease;
}

.news-1 img:hover {
    width: 32%;
    border: solid chocolate;
}

.news-right {
    margin-left: 17px;
}

.news-right h3 {
    color: #E96C12;
    margin-bottom: 10px;
    font-size: 15px;
}

.news-right p {
    font-size: 13px;
    color: #536B83;
    margin-bottom: 20px;
}
